<form action='/register' method="POST">
Username:<br>
<input type="text" name="user[username]"><br>
Email:<br>
<input type="text" name="user[email]"><br>
Password:<br>
<input type="password" name="user[password]"><br>
Conferm Password:<br>
<input type="password" name="user[password_confirmation]"><br>
<input type="submit" value="Signup!">
</form>
